@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --myFontHeader:35px;
}
@layer base {
  h1 {
    @apply text-5xl font-bold uppercase  md:text-[length:var(--myFontHeader)] leading-[125%];
  }
  h2 {
    @apply text-[35px] font-bold leading-[150%];
  }
  h3 {
    @apply text-[25px] font-normal leading-[150%];
  }
  h5 {
    @apply text-[22px] font-bold;
  }
  h4 {
    @apply text-[20px] font-normal leading-[30px] mt-3;
  }
  h6 {
    @apply text-2xl font-bold;
  }
  li{
    @apply hover:text-[red] cursor-pointer
  }
  html {
    @apply font-sans font-light ;
  }

  body {
    @apply  min-w-[375px] ;
  }
  @font-face {
    font-family: "Gotham";
    src: url(../src/assets/font/Gotham/SVN-Gotham\ Thin.otf);
    font-weight: 300;
  }
  @font-face {
    font-family: "Gotham";
    src: url(../src/assets/font/Gotham/SVN-Gotham\ Light.ttf);
    font-weight: 400;
  }
  @font-face {
    font-family: "Gotham";
    src: url(../src/assets/font/Gotham/SVN-Gotham\ Bold.otf);
    font-weight: 700;
  }
}
/* component  */
@layer components {
  .btn-white {
    @apply text-[#ffff00] bg-[#000] sm:text-white;
  }
  .my-pg-position {
    @apply bg-[url('./assets/Footer/people.jpg')] bg-blend-color-dodge;
    background-color: rgba(255, 0, 0, 0.4);
    background-size: cover;
    background-position: bottom 234px right 50%;
  }
  .bgWhenScreenThan1441px {
    @apply min2xl:!px-[calc((100%-1440px)/2)]
  }
}

@media screen and (max-width: 375px) {
  .my-pg-position {
    background-position: bottom 102px right 50%;
  }
}
@media screen and (min-width:1441px){
  .my-pg-position {
    background-position: bottom -10px right 50%;
  }
}
@media screen and (max-width:640px) {
  .my-pg-position {
    background-position: bottom 200px right 50%;
  }
}
@media screen and (max-width:375px) {
  .my-pg-position {
    background-position: bottom 80px right 50%;
  }
}


/* *{
  outline: 1px solid green;
} */
.mysvgNav{
  filter: invert(4%) sepia(87%) saturate(64%) hue-rotate(316deg) brightness(98%) contrast(87%);
}
.my_transition{
  transition-property: height;
  transition-duration: 5s;
}