@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  h1{
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
  }
  h2{
    font-size: 35px ;
    font-weight: 700;
  }
  h3{
    font-size: 25px;
    font-weight: 300;
  }
  h5{
    font-size: 22px;
    font-weight: 700;
  }
  h4{
    font-size: 20px;
    font-weight: 300;
  }
  h6{
    font-size: 24px;
    font-weight: 700;
  }
  

}


@layer components{
  .btn-white{
    @layer w-[282px] h-[70px] bg-[#FFFFFF] text-[#FF1C03] mt-9 rounded-md text-[25px] font-bold;
  }
}

@font-face {
  font-family: Gotham;
  src: url(../src/Gotham/SVN-Gotham\ Book.otf);
  /* font-weight: 300; */
}
/* src: url(./Gotham/SVN-Gotham\ Bold.otf); */

