@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --myFontHeader:35px;
}
@layer base {
  h1 {
    @apply text-5xl font-bold uppercase  md:text-[length:var(--myFontHeader)];
  }
  h2 {
    @apply text-[35px] font-bold;
  }
  h3 {
    @apply text-[25px] font-normal;
  }
  h5 {
    @apply text-[22px] font-bold;
  }
  h4 {
    @apply text-xl font-normal;
  }
  h6 {
    @apply text-2xl font-bold;
  }
  html {
    @apply font-sans font-light ;
  }

  body {
    @apply  min-w-[375px] ;
  }
  @font-face {
    font-family: "Gotham";
    src: url(../src/Gotham/font-Gotham/SVN-Gotham\ Thin.otf);
    font-weight: 300;
  }
  @font-face {
    font-family: "Gotham";
    src: url(../src/Gotham/font-Gotham/SVN-Gotham\ Light.ttf);
    font-weight: 400;
  }
  @font-face {
    font-family: "Gotham";
    src: url(../src/Gotham/font-Gotham/SVN-Gotham\ Bold.otf);
    font-weight: 700;
  }
}
/* component  */
@layer components {
  .btn-white {
    @apply text-[#ffff00] bg-[#000] sm:text-white;
  }
  .my-pg-position {
    @apply bg-[url('./assets/Footer/people.jpg')] bg-blend-color-dodge;
    background-color: rgba(255, 0, 0, 0.4);
    background-size: cover;
    background-position: bottom 134px right 50%;
  }
  .bgWhenScreenThan1441px {
    @apply min2xl:!px-[calc((100%-1440px)/2)]
  }
}

@media screen and (max-width: 375px) {
  .my-pg-position {
    background-position: bottom 102px right 50%;
  }
}
@media screen and (min-width:1441px){
  .my-pg-position {
    background-position: bottom -10px right 50%;
  }
}
